In [13]:
import pandas as pd
import numpy as np

dates1 = pd.date_range('20190525', periods = 12)
print(dates1)

DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [14]:
series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
series.index = dates1
print(series)

2019-05-25     1
2019-05-26     2
2019-05-27     3
2019-05-28     4
2019-05-29     5
2019-05-30     6
2019-05-31     7
2019-06-01     8
2019-06-02     9
2019-06-03    10
2019-06-04    11
2019-06-05    12
Freq: D, dtype: int64

In [15]:
df = pd.DataFrame(np.random.randn(10,4), columns = list('ABCD'))
print(df)

          A         B         C         D
0 -0.041849 -0.084224  0.704929  1.231071
1  1.073801 -1.188914  0.392467 -0.840383
2  0.279405 -1.122085  1.227111  0.026319
3  0.931305 -0.312003  1.655647  0.037996
4  1.598756 -0.447717 -0.475255 -0.516005
5 -1.964654 -0.371812 -0.332078 -0.026808
6 -1.138741  0.192791  2.524922  0.489675
7 -0.631035  0.243023 -0.484276 -0.488452
8 -2.027070  0.145970 -1.288220 -1.103720
9  1.466456 -1.442674  2.180445  1.802908

In [16]:
path = "C:\\Temp\\563_Data\\"
filename = "B4.csv"
df = pd.read_csv(path+filename)
print(df.describe())

              y         x1         x2         x3         x4         x5  \
count  24.00000  24.000000  24.000000  24.000000  24.000000  24.000000
mean   34.61250   6.404917   1.166667   6.032667   1.383583   1.312500
std     6.00379   1.582007   0.240772   1.964633   0.276266   0.604557
min    25.90000   3.891000   1.000000   2.275000   0.975000   0.000000
25%    29.90000   5.057275   1.000000   4.854975   1.161500   1.000000
50%    33.70000   5.974300   1.000000   5.685000   1.432000   1.000000
75%    38.15000   7.873075   1.500000   7.158050   1.577000   2.000000
max    45.80000   9.141600   1.500000   9.890000   1.831000   2.000000

              x6         x7         x8         x9
count  24.000000  24.000000  24.000000  24.000000
mean    6.500000   3.166667  37.458333   0.250000
std     0.884652   0.564660  14.040250   0.442326
min     5.000000   2.000000   3.000000   0.000000
25%     6.000000   3.000000  30.000000   0.000000
50%     6.000000   3.000000  40.000000   0.000000
75%     7.000000   3.250000  48.500000   0.250000
max     8.000000   4.000000  62.000000   1.000000

In [17]:
print(df.mean(0)) # 0 means to compute the mean for each column

y     34.612500
x1     6.404917
x2     1.166667
x3     6.032667
x4     1.383583
x5     1.312500
x6     6.500000
x7     3.166667
x8    37.458333
x9     0.250000
dtype: float64

In [18]:
print(df.mean(1)) # 1 means to compute the mean for each row

0     11.55518
1      8.68929
2     10.07393
3      9.35357
4     10.62340
5     10.78880
6      8.75249
7      9.33882
8      8.43406
9      8.27662
10     8.86462
11     9.60700
12    11.74604
13     9.29869
14     8.52621
15     9.77384
16    10.32654
17     8.56322
18    13.15051
19    10.78616
20    12.26877
21     7.05440
22    11.00988
23     9.02876
dtype: float64

In [19]:
# print(df['x1']) 

# same as 
# print(df.x1)  

print(df[2:4]) # prints rows 2 to 3

# use iloc if extract specific rows 
print(df.iloc[[2,4]])

      y      x1   x2     x3     x4   x5  x6  x7  x8  x9
2  25.9  4.5573  1.0  4.050  1.232  1.0   6   3  54   0
3  29.9  5.0597  1.0  4.455  1.121  1.0   6   3  42   0
      y      x1   x2     x3     x4   x5  x6  x7  x8  x9
2  25.9  4.5573  1.0  4.050  1.232  1.0   6   3  54   0
4  29.9  3.8910  1.0  4.455  0.988  1.0   6   3  56   0

In [21]:
print(pd.crosstab(df.y, df.x1))

x1    3.8910  4.5429  4.5573  4.9176  5.0208  5.0500  5.0597  5.3003  5.6039  \
y
25.9       0       0       1       1       0       0       0       0       0
27.9       0       1       0       0       0       0       0       0       0
28.9       0       0       0       0       0       0       0       0       1
29.5       0       0       0       0       1       0       0       0       0
29.9       1       0       0       0       0       0       1       0       0
30.0       0       0       0       0       0       1       0       0       0
30.9       0       0       0       0       0       0       0       0       0
31.0       0       0       0       0       0       0       0       0       0
31.5       0       0       0       0       0       0       0       1       0
35.9       0       0       0       0       0       0       0       0       0
36.9       0       0       0       0       0       0       0       0       0
37.5       0       0       0       0       0       0       0       0       0
37.9       0       0       0       0       0       0       0       0       0
38.9       0       0       0       0       0       0       0       0       0
40.5       0       0       0       0       0       0       0       0       0
41.9       0       0       0       0       0       0       0       0       0
43.9       0       0       0       0       0       0       0       0       0
44.5       0       0       0       0       0       0       0       0       0
45.8       0       0       0       0       0       0       0       0       0

x1    5.8282  ...  6.2712  6.6969  7.5422  7.7841  8.1400  8.2464  8.3607  \
y             ...
25.9       0  ...       0       0       0       0       0       0       0
27.9       0  ...       0       0       0       0       0       0       0
28.9       0  ...       0       0       0       0       0       0       0
29.5       0  ...       0       0       0       0       0       0       0
29.9       0  ...       0       0       0       0       0       0       0
30.0       0  ...       0       0       0       0       0       0       0
30.9       0  ...       0       0       0       0       0       0       0
31.0       0  ...       1       0       0       0       0       0       0
31.5       0  ...       0       0       0       0       0       0       0
35.9       1  ...       0       0       0       0       0       0       0
36.9       0  ...       0       0       0       0       1       1       0
37.5       0  ...       0       0       0       0       0       0       0
37.9       0  ...       0       0       1       0       0       0       0
38.9       0  ...       0       0       0       0       0       0       1
40.5       0  ...       0       0       0       1       0       0       0
41.9       0  ...       0       1       0       0       0       0       0
43.9       0  ...       0       0       0       0       0       0       0
44.5       0  ...       0       0       0       0       0       0       0
45.8       0  ...       0       0       0       0       0       0       0

x1    8.7951  9.0384  9.1416
y
25.9       0       0       0
27.9       0       0       0
28.9       0       0       0
29.5       0       0       0
29.9       0       0       0
30.0       0       0       0
30.9       0       0       0
31.0       0       0       0
31.5       0       0       0
35.9       0       0       0
36.9       0       0       0
37.5       0       0       0
37.9       0       0       0
38.9       0       0       0
40.5       0       0       0
41.9       0       0       0
43.9       0       1       0
44.5       1       0       0
45.8       0       0       1

[19 rows x 24 columns]